* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}



header {
    display: flex;

    flex-direction: column;
    align-items: center;
}


header img {
   margin: 5rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    animation: flotar 3s ease-in-out infinite;

}

@keyframes flotar {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(10px);
    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}



main section {
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    transition: all 0.3s ease-in-out;


}

.description h1,
h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

.description {
    width: 70rem;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
}

.technologies-experience {
    width: 70rem;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    
}

.technologies picture {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.technologies-experience h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.technologies img {
    padding-top: 3rem;
    width: 200px;
    transition: transform 0.2s ease;
    filter: brightness(0.5);
    padding-bottom: 3rem;
}

main section {
    background: linear-gradient(315deg, #ffffff1b 50%, #000000c0 50%);
    background-size: 200% 200%;
    background-position: bottom right;
    color: rgb(255, 255, 255);
    
}

main section:hover {
    transition: background-position 1s ease, color 1 ease;
    background-position: top left;
    color: white;

}

.technologies img:hover {
    transform: scale(1.2);
    filter: brightness(1);

}


.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 70rem;
}

.projects .container-one,
.projects .container-two {
  flex: 1 1 300px;
  max-width: 400px;
}

.projects article {
   background: linear-gradient(
    to bottom,
    #0c0c0c 0%,
    #2d2d2d 33.33%,
    #494949 66.66%,
    #7c7c7c 100%
  );
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
   transition: transform 0.1s ease;

}

.projects article picture {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.projects article img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgb(0, 0, 0) 0px 0px 12px 3px;
  transition: transform 0.3s ease;
  
}


.projects article img:hover{
    transform: rotate(10deg);
}

.projects article:hover{
   
    transform: scale(1.09);
}

.projects article hr {
    width: 100%;
    margin: 1rem auto;
    border: 0;
    border-top: 2px solid #ccc;
}

.projects article h2,
.projects article p {
    text-align: left;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block; 
}


.projects p{
    padding-top: 1rem;
}

.projects article img.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 0;
    box-shadow: none;
    margin-top: 1rem;
    transition: none;
    transform: none;
    
}

.projects article {
    position: relative; 
   
}

.projects article img.icon {
    position: absolute; 
    right: 1.5rem;      
    bottom: 1.5rem;     
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;      
    transition: none;
    transform: none;
    transition: transform 1s ease;
    filter: brightness(0.5);
}

.projects article img.icon:hover {
   transform: rotate(360deg);
    filter: brightness(1);
   
}

